body{
  background-color: #FDEEDC;
}
img{
  height: 200px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #EE6983;
  border-width: thick;
  width: 20%;
}
h2{

  color: #3B9AE1;
}
h3{
  background-color: white;
  color: #B9005B;
}
table, th, td{
  border-color: #F47C7C;
}
